
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
    /* transition: all 10s ease; */
}
.nav-link{
    color: white;
}
.text-p{
    color: #ff6b81;
}
.bg-p{background-color: #ff6b81;}

.card{
    transition: all 0.5s ease;
}
 .card:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px 3px lightgray !important;
    cursor: pointer;
    
 }

@media screen and (Max-Width:576px) {
    .phone1{height: 330px !important;margin-top: 50px;}
    .white-img{height: 35px;}
    .card{width:100vh !important;}
    .te{display: none !important;}

}